<section>
    <div class="">
        <div class="row">
            <div>
                <h5 class="card-title mb-4 mt-3">Videos</h5>
            </div>

        </div>
    </div>
</section>
<div class="back">
    <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand ">Videos</a>
            <button class="public">Publish To Social</button>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="list-group-item list-group-item-action"><i class="fas fa-video"></i>New Video
              <span class="float-down"><i class="fas fa-angle-down"></i></span> </a>
            </div>
        </div>
    </nav>
    <div class="main card bg-dark text-white">
        <img src="assets/cartoon.jpg" class="card-img card-img-overlay" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Share</h5>
            <a href="#">
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-twitter-square"></i>
                <i class="fa fa-tumblr-square"></i>
                <i class="fa fa-google-plus-square"></i>
            </a>
            <div class="top-left">
                <i class="fa fa-dot-circle-o"></i>
                <i class="active fa fa-share-alt"></i>
            </div>
            <div class="quality">
                <li class="text d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-3">Quality</h6>
                        <p><i class="fa fa-dot-circle-o"></i> Auto</p>
                        <p><i class="fa fa-circle-o"></i> 360p</p>
                        <p><i class="fa fa-circle-o"></i> 440p</p>
                    </div>
                    <p class="text">240p <i class="fa fa-chevron-up"></i></p>
                </li>
                <li class="text d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="mb-4">Speed</h6>

                    </div>
                    <p class="s-text">
                        Norrmal<i class="fa fa-chevron-down"></i>
                    </p>
                </li>
            </div>
            <div class="play">
                <i class="fa fa-play-circle-o"></i>
                <input class="range " type="range">
                <i class="fa fa-signal"></i>
                <i class="fa fa-cog"></i>
                <i class="fa fa-arrows-alt"></i>
            </div>
        </div>
    </div>
    <div class="end">
        <p>Sample Videos Dummy Videos For Demo Use.mp4</p>
        <a href="#">
            <i class="fa fa-download"></i>
            <i class="fa fa-trash-o"></i>
        </a>
    </div>
</div>