<div class="back">
    <section>
        <div class="">
            <div class="row">
                <div>
                    <h5 class="card-title mb-4 mt-3">Date Report</h5>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Impressions</th>
                            <th>Views</th>
                            <th>Avg. % Watched</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let date of Regions"> -->
                        <!-- <td>{{}}</td>
                        <td>{{}}</td>
                        <td>{{}}</td>
                        <td>{{}}</td> -->
                        <!-- </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>