<div class="card">
    <div class="row">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span>FaceBook</span>
                <span>894</span>
                <span>1889</span>
                <span>12345</span>
                <!-- [ngClass]="{
                    'badge-danger':channel?.channelStatus=== 'Unpublished',          
                    'badge-success':channel?.channelStatus === 'Published'}" -->
                <span class="col-md-3 badge">inactive</span>

            </li>
        </ul>
    </div>
</div>