<div class="back">
    <section>
        <div class="bg">
            <div>
                <h4>Social Alerts</h4>
            </div>
            <div class="row">
                <div class="facebook col-md-4 shbox">
                    <!-----<div>
                        <img width="50px" height="50px" src="../../assets/facebook.jfif">
                    </div>---->
                    <div>
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="text">Facebook</div>
                    <div>
                        <button type="button">Connect Account</button>
                    </div>
                </div>
                <div class="Twitter col-md-4 shbox">
                    <div><i class="fa fa-twitter"></i></div>
                    <div class="text">Twitter</div>
                    <div>
                        <button type="button">Connect Account</button>
                    </div>
                </div>
                <div class="Linkedin col-md-4 shbox">
                    <div><i class="fa fa-linkedin"></i></div>
                    <div class="text">Linkedin</div>
                    <div>
                        <button type="button">Connect Account</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="google col-md-4 shbox">
                    <div><i class="fa fa-google-plus"></i></div>
                    <div class="text">Google</div>
                    <div>
                        <button type="button">Connect Account</button>
                    </div>
                </div>
                <div class="tumblr col-md-4 shbox">
                    <div><i class="fa fa-tumblr"></i></div>
                    <div class="text">Tumbir</div>
                    <div>
                        <button type="button">Connect Account</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </section>
</div>