<!-- <div class="container-fluid">
    <a class="navbar-brand">Chat</a>
</div>
<div class="text-center">
    <div class="header">
        <img src="assets/chat.png" alt="">
    </div>
    <div class="card-body">
        <h4 class="card-title">The Chat is waiting for new message.</h4>
    </div>
    <div class="end">
        <p>Type a new message......</p>
        <i class="fa fa-paper-plane"></i>
    </div> -->

<div class="container-fluid">
    <a class="navbar-brand">Chat</a>
</div>
<div class="text-center">
    <div class="header">
        <img src="assets/chat2.png" alt="">
    </div>
    <div class="card-body">
        <h4 class="card-title">The Chat is waiting for new message.</h4>
    </div>
    <div class="input-group">
        <input type="text" class="form-control form-control-lg" placeholder="Type a new message......">
        <i class="ri-send-plane-2-line"></i>
    </div>