/* nav {
    position: sticky;
    height: 18px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    margin-left: 5px;
} */

.list-group-item {
    position: sticky;
    height: 28px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* padding: 2px; */
    /* margin-left: 2px; */
}

.cardheader {
    position: relative;
    font-size: 18px;
    width: 90%;
    justify-content: space-around;
    text-decoration: none;
    padding: 0px 7px;
    margin-left: 30px;
    color: black;
    justify-content: space-evenly;
    opacity: .5;
}
#active {
    color: black;
    font-weight: bold;
    opacity: .8;
}
.cardheader:before {
    content: "";
    position: absolute;
    left: -5%;
    top: 120%;
    width: 0%;
    height: 3px;
    background-color: orangered;
    transition: all 0.1s linear;
}

.cardheader:hover:before {
    width: 90%;
}
.active{
    font-weight: 700;
    color: black;
    opacity: .7;
}
.cardheader:hover {
    opacity: .8;
    font-weight: bold;
}
