<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4"> Create New Password</h5>
                <p class="card-text text-muted">Your new password must be different from previous used password</p>
                <form [formGroup]="createPass">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="upwd" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.upwd.errors }" />
                        <div *ngIf="submitted && f.upwd.errors" class="form-text text-danger">
                            <div *ngIf="f.upwd.errors.required">Password is required!</div>
                            <div *ngIf="f.upwd.errors?.minlength">Password must be at least 6 character is required!</div>
                            <div *ngIf="f.upwd.errors?.maxlength">Password must be max 20 character is required!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="cupwd" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.cupwd.errors }" />
                        <div *ngIf="submitted && f.cupwd.errors" class="form-text text-danger">
                            <div *ngIf="f.cupwd.errors.required">Password is required!</div>
                            <div *ngIf="f.cupwd.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" (click)="resetPassword()" style="background-color: rgba(192, 66, 20, 0.993);color: white;text-align:center" class="bttn">Change PassWord</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="iimage">
            <div class="center-align">
                <img src="./../assets/log.jfif">
            </div>
        </div>
    </div>
</div>