<div class="main">
    <img src="assets/notFound.png" alt="" class="mb-5">
    <div class="text mb-5">
        No Records found
    </div>
</div>




<!-- 
<div class="mt-9">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#">Bulk File Upload</a>
    </nav>
    <div class="btn-group" role="group">
        <label class="button btn btn-outline-secondary bg-white"><i class="fa fa-plus-circle"></i>Add Files</label>
        <label class="button btn btn-outline-secondary bg-white"><i class="fa fa-cloud-upload"></i>Start Upload</label>
        <label class="button btn btn-outline-secondary bg-white"><i class="fa fa-ban" ></i>Cancel Upload</label>
        <label class="button btn btn-outline-secondary bg-white"><i class="fa fa-trash"></i>Delete</label>
        <i class="cros fa fa-times-circle-o"></i>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Video</th>
                <th scope="col">Video Name</th>
                <th scope="col">Size</th>
                <th scope="col">Duration</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="first">
                <th><img src="assets/cartoon.jpg" alt="">
                    <div class="play">
                        <i class="fa fa-play-circle-o"></i>
                        <input type="range">
                        <i class="fa fa-ellipsis-v"></i>
                    </div>
                </th>
                <td>Sample Videos Dummy Videos
                    <p>For Demo Use.mp4</p>
                </td>
                <td>438.19 KB
                    <div class="size"></div>
                </td>
                <td>00:12</td>
                <td><i class="fa fa-ban"></i></td>
            </tr>
            <tr class="first">
                <th><img src="assets/cartoon.jpg" alt="">
                    <div class="play">
                        <i class="fa fa-play-circle-o"></i>
                        <input type="range">
                        <i (click)="onclick()" class="fa fa-ellipsis-v"></i>
                    </div>
                    <div *ngIf="onvalid" class="option">
                        <i class="fa fa-arrows-alt"> Full Screen</i>
                        <hr>
                        <i class="fa fa-download">download</i>
                        <hr>
                        <i class="fa fa-eercast">Mute</i>
                    </div>
                </th>
                <td>Sample Videos Dummy Videos
                    <p>For Demo Use.mp4</p>
                </td>
                <td>438.19 KB
                    <div class="size">
                        <div class="fil"></div>
                    </div>
                </td>
                <td>00:12</td>
                <td><i class="active fa fa-trash"></i></td>
            </tr>
        </tbody>
    </table> -->