<!----------
<div id="all">
   <div class="part">
    <div id="top">
        <div id="topin">
            <h2>Channel Dashboard</h2>
        </div>
        <div id="topout">
            <h2 class="se">Select Channel</h2>
            
            <div class="sel">
                <select id="drop" class="form-select" aria-label="Default select example">
                    <option selected>Default</option>
                    <option value="1">Twitch</option>
                    <option value="2">Tele2</option>
                    <option value="3">Never TV</option>
               </select>
            </div>
    
            <button id="url">
            <div class="url">
              <i class="ri-links-fill"></i>
      
              <h3>Streaming URL</h3>
            </div>
          </button>
            <button id="red">
            <i class="ri-code-s-slash-fill"></i>
            <h3>Embed Code</h3>
          </button>
        </div>
    </div>
    <hr>
    
    <div id="maincard">
        <div id="first" class="card">
            <i class="ri-folder-open-line"></i>
            <h3>Recorded File <br>0</h3>
        </div>
        <div id="secand" class="card">
            <i class="ri-stackshare-line"></i>
            <h3>Transcoding <br>0</h3>
        </div>
        <div id="three" class="card">
            <i class="ri-file-code-line"></i>
            <h3>Source <br>0</h3>
        </div>
        <div id="fourth" class="card">
            <i class="ri-cloudy-2-line"></i>
            <h3>Destinstions <br>0</h3>
        </div>
    </div>
    <div id="center">
        <div class="visits">
            <h3>Total visits <i class="ri-compass-line"></i> </h3>
            <p>Provisions Month</p> <input type="date" name="" id="date">
        </div>
        <div id="centerin">
            <img src="assets/main.png" alt="">
        </div>
        <div id="endinn">
            <div class="cecard1">
                <i id="pr" class="ri-play-circle-line"></i>
                <h3>Preview</h3>
                <i id="pw" class="ri-play-circle-fill"></i>
            </div>
            <div class="cecard2">
                <div class="card22">
                    <h3>Check your encoder settings</h3>
                    <p>Keyframe Interval: 0.5 <br>Recommended: 3</p>
                </div>
                <div class="card23">
                    <div id="up">
                        <i class="ri-vidicon-fill"></i>
                        <div id="cl">
                            <h3>Cloud Play</h3>
                            <p>No setup required.use your built-in webcam</p>
                        </div>
                    </div>
                    <button>
                <i class="ri-vidicon-fill"></i>
                <h3>Enter Live Studio</h3>
              </button>
                </div>
            </div>
            <div id="end">
                <div class="panel">
                    <div class="first">
                        <h3>Streaming Monitor</h3>
                        <p>Live</p>
                    </div>
                    <div id="lineee"></div>
                    <div class="first2">
                        <h3>Resolution <br>
                            <p>1920X1080</p>
                        </h3>
                        <h4>Fps <br>
                            <p>50</p>
                        </h4>
    
                    </div>
                    <div id="lineee"></div>
                    <div class="first2">
                        <h3>Besolution<br>
                            <p>4520Kb/s</p>
                        </h3>
                        <h4>Keyframe Interval<br>
                            <p>1</p>
                        </h4>
    
                    </div>
    
                </div>
                <div class="panel2">
                    <div class="first">
                        <h3>Destinstions</h3>
                        <p>
                            <i class="ri-focus-line"></i> Push Destinstions </p>
                    </div>
                    <div id="lineee"></div>
                    <div id="too" class="first2">
                        <h3>M
                            <sup>T</sup> Custom RTMP-Miko<br>
                            <ol>Offline</ol>
                        </h3>
                        <h4><i class="ri-toggle-line"></i></h4>
    
                    </div>
                    <div id="lineee"></div>
                    <div class="first2">
                        <h3 id="fin">M
                            <sup>T</sup> Custom RTMP-Miko<br>
                            <ol>Online</ol>
                        </h3>
                        <h4><i class="ri-toggle-fill"></i></h4>
    
                    </div>
                </div>
    
            </div>
    
        </div>
   </div>
</div>
-->
<div class="back">
    <div class="Topin">
        <div class="top">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">      
              <a class="navbar-brand">Channel Dashboard</a>        
          </nav>
          </div>
<!-----         <div class="top">---> 
            <nav class="navbar navbar-expand-lg navbar-light bg-white" >
                <a id="select" class="navbar-brand" >Select Channel</a>

             <!---------  <nav class="navbar navbar-light">
                    <a class="navbar-brand">Dashboard</a>
                </nav>----> 

                <select id="drop" class="form-select" aria-label="Default select example">
                    <option selected>Default</option>
                    <option value="1">Twitch</option>
                    <option value="2">Tele2</option>
                    <option value="3">Never TV</option>
               </select>   
              <button id="url">
                <div class="url">
                  <i class="ri-links-fill"></i>
                  <h3>Streaming URL</h3>
                </div>
              </button>
                <button id="red">
                <i class="ri-code-s-slash-fill"></i>
                <h3>Embed Code</h3>
              </button>
            </nav>
          </div>     
<!----</div>---->
    <div id="maincard">
        <div id="first" class="card">
            <i class="ri-folder-open-line"></i>
            <h3>Recorded File <br>0</h3>
        </div>
        <div id="secand" class="card">
            <i class="ri-stackshare-line"></i>
            <h3>Transcoding <br>0</h3>
        </div>
        <div id="three" class="card">
            <i class="ri-file-code-line"></i>
            <h3>Source <br>0</h3>
        </div>
        <div id="fourth" class="card">
            <i class="ri-cloudy-2-line"></i>
            <h3>Destinstions <br>0</h3>
        </div>
    </div>
    <div class="visits">
        <h3>Total visits <i class="ri-compass-line"></i> </h3>
        <p>Provisions Month</p> <input type="date" name="" id="date">
    </div>
    <img id="img" src="assets/main.png" alt="">
    <div id="endinn">
        <div class="cecard1">
            <i id="pr" class="ri-play-circle-line"></i>
            <h3>Preview</h3>
            <i id="pw" class="ri-play-circle-fill"></i>
        </div>
        <div class="cecard2">
            <div class="card22">
                <h3>Check your encoder settings</h3>
                <p>Keyframe Interval: 0.5 <br>Recommended: 3</p>
            </div>
            <div class="card23">
                <div id="up">
                    <i class="ri-vidicon-fill"></i>
                    <div id="cl">
                        <h3>Cloud Play</h3>
                        <p>No setup required.use your built-in webcam</p>
                    </div>
                </div>
                <button>
            <i class="ri-vidicon-fill"></i>
            <h3>Enter Live Studio</h3>
          </button>
            </div>
            <div id="endin" class="card border-success mb-3" style="max-width: 176rem;">
              <div id="f" class="card-header bg-white border-success">Streaming Monitor <span>LIVE</span> </div>
              <div class="card-body">
                <h5 class="card-title">Resolution <span>FPS</span></h5>
                <p class="card-text">1920X1080 <span>50</span></p>
                <hr>
                <h3 class="card-butam">Bitrate <span>Keyframe Interval</span></h3>
                <p class="card-text">4520 Kb/s<span>1</span></p>
              </div>
            </div>
            <div id="endin2" class="card border-success mb-3" style="max-width: 176rem;">
              <div id="f" class="card-header bg-white border-success">Destinstions<span>
                        <i class="ri-focus-line"></i> Push Destinstions
              </span> </div>
              <div class="card-body  ">
                <h5 class="card-title"> M<sup>T</sup> Custom RTMP-Miko<br><span></span></h5>
                <div class="dot">
                  <div class="do"></div>
                  <p>Offline</p>
                  <i id="off" class="ri-toggle-line"></i>    
                </div>
                <hr>
                <h5 id="onn" class="card-titlee"> M<sup>T</sup> Custom RTMP-Miko<br><span></span></h5>
                <div class="dot">
                  <div class="doo"></div>
                  <h1>Online</h1>
                  <i id="off" class="ri-toggle-fill"></i>   
              </div>   
            </div>    
        </div>     
</div>
