<!----------
<div id="all">
   <div class="part">
    <div id="top">
        <div id="topin">
            <h2>Channel Dashboard</h2>
        </div>
        <div id="topout">
            <h2 class="se">Select Channel</h2>
            
            <div class="sel">
                <select id="drop" class="form-select" aria-label="Default select example">
                    <option selected>Default</option>
                    <option value="1">Twitch</option>
                    <option value="2">Tele2</option>
                    <option value="3">Never TV</option>
               </select>
            </div>
    
            <button id="url">
            <div class="url">
              <i class="ri-links-fill"></i>
      
              <h3>Streaming URL</h3>
            </div>
          </button>
            <button id="red">
            <i class="ri-code-s-slash-fill"></i>
            <h3>Embed Code</h3>
          </button>
        </div>
    </div>
    <hr>
    
    <div id="maincard">
        <div id="first" class="card">
            <i class="ri-folder-open-line"></i>
            <h3>Recorded File <br>0</h3>
        </div>
        <div id="secand" class="card">
            <i class="ri-stackshare-line"></i>
            <h3>Transcoding <br>0</h3>
        </div>
        <div id="three" class="card">
            <i class="ri-file-code-line"></i>
            <h3>Source <br>0</h3>
        </div>
        <div id="fourth" class="card">
            <i class="ri-cloudy-2-line"></i>
            <h3>Destinstions <br>0</h3>
        </div>
    </div>
    <div id="center">
        <div class="visits">
            <h3>Total visits <i class="ri-compass-line"></i> </h3>
            <p>Provisions Month</p> <input type="date" name="" id="date">
        </div>
        <div id="centerin">
            <img src="assets/main.png" alt="">
        </div>
        <div id="endinn">
            <div class="cecard1">
                <i id="pr" class="ri-play-circle-line"></i>
                <h3>Preview</h3>
                <i id="pw" class="ri-play-circle-fill"></i>
            </div>
            <div class="cecard2">
                <div class="card22">
                    <h3>Check your encoder settings</h3>
                    <p>Keyframe Interval: 0.5 <br>Recommended: 3</p>
                </div>
                <div class="card23">
                    <div id="up">
                        <i class="ri-vidicon-fill"></i>
                        <div id="cl">
                            <h3>Cloud Play</h3>
                            <p>No setup required.use your built-in webcam</p>
                        </div>
                    </div>
                    <button>
                <i class="ri-vidicon-fill"></i>
                <h3>Enter Live Studio</h3>
              </button>
                </div>
            </div>
            <div id="end">
                <div class="panel">
                    <div class="first">
                        <h3>Streaming Monitor</h3>
                        <p>Live</p>
                    </div>
                    <div id="lineee"></div>
                    <div class="first2">
                        <h3>Resolution <br>
                            <p>1920X1080</p>
                        </h3>
                        <h4>Fps <br>
                            <p>50</p>
                        </h4>
    
                    </div>
                    <div id="lineee"></div>
                    <div class="first2">
                        <h3>Besolution<br>
                            <p>4520Kb/s</p>
                        </h3>
                        <h4>Keyframe Interval<br>
                            <p>1</p>
                        </h4>
    
                    </div>
    
                </div>
                <div class="panel2">
                    <div class="first">
                        <h3>Destinstions</h3>
                        <p>
                            <i class="ri-focus-line"></i> Push Destinstions </p>
                    </div>
                    <div id="lineee"></div>
                    <div id="too" class="first2">
                        <h3>M
                            <sup>T</sup> Custom RTMP-Miko<br>
                            <ol>Offline</ol>
                        </h3>
                        <h4><i class="ri-toggle-line"></i></h4>
    
                    </div>
                    <div id="lineee"></div>
                    <div class="first2">
                        <h3 id="fin">M
                            <sup>T</sup> Custom RTMP-Miko<br>
                            <ol>Online</ol>
                        </h3>
                        <h4><i class="ri-toggle-fill"></i></h4>
    
                    </div>
                </div>
    
            </div>
    
        </div>
   </div>
</div>
-->
<!------main project-->
<!---------<div class="back">
    <div class="Topin">
        <div class="top">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">      
              <a class="navbar-brand">Channel Dashboard</a>        
          </nav>
          </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-white" >
                <a id="select" class="navbar-brand" >Select Channel</a>

             

                <select id="drop" class="form-select" aria-label="Default select example">
                    <option selected>Default</option>
                    <option value="1">Twitch</option>
                    <option value="2">Tele2</option>
                    <option value="3">Never TV</option>
               </select>   
              <button id="url">
                <div class="url">
                  <i class="ri-links-fill"></i>
                  <h3>Streaming URL</h3>
                </div>
              </button>
                <button id="red">
                <i class="ri-code-s-slash-fill"></i>
                <h3>Embed Code</h3>
              </button>
            </nav>
          </div>     

    <div id="maincard">
        <div id="first" class="card">
            <i class="ri-folder-open-line"></i>
            <h3>Recorded File <br>0</h3>
        </div>
        <div id="secand" class="card">
            <i class="ri-stackshare-line"></i>
            <h3>Transcoding <br>0</h3>
        </div>
        <div id="three" class="card">
            <i class="ri-file-code-line"></i>
            <h3>Source <br>0</h3>
        </div>
        <div id="fourth" class="card">
            <i class="ri-cloudy-2-line"></i>
            <h3>Destinstions <br>0</h3>
        </div>
    </div>
    <div class="visits">
        <h3>Total visits <i class="ri-compass-line"></i> </h3>
        <p>Provisions Month</p> <input type="date" name="" id="date">
    </div>
    <img id="img" src="assets/main.png" alt="">
    <div id="endinn">
        <div class="cecard1">
            <i id="pr" class="ri-play-circle-line"></i>
            <h3>Preview</h3>
            <i id="pw" class="ri-play-circle-fill"></i>
        </div>
        <div class="cecard2">
            <div class="card22">
                <h3>Check your encoder settings</h3>
                <p>Keyframe Interval: 0.5 <br>Recommended: 3</p>
            </div>
            <div class="card23">
                <div id="up">
                    <i class="ri-vidicon-fill"></i>
                    <div id="cl">
                        <h3>Cloud Play</h3>
                        <p>No setup required.use your built-in webcam</p>
                    </div>
                </div>
                <button>
            <i class="ri-vidicon-fill"></i>
            <h3>Enter Live Studio</h3>
          </button>
            </div>
            <div id="endin" class="card border-success mb-3" style="max-width: 176rem;">
              <div id="f" class="card-header bg-white border-success">Streaming Monitor <span>LIVE</span> </div>
              <div class="card-body">
                <h5 class="card-title">Resolution <span>FPS</span></h5>
                <p class="card-text">1920X1080 <span>50</span></p>
                <hr>
                <h3 class="card-butam">Bitrate <span>Keyframe Interval</span></h3>
                <p class="card-text">4520 Kb/s<span>1</span></p>
              </div>
            </div>
            <div id="endin2" class="card border-success mb-3" style="max-width: 176rem;">
              <div id="f" class="card-header bg-white border-success">Destinstions<span>
                        <i class="ri-focus-line"></i> Push Destinstions
              </span> </div>
              <div class="card-body  ">
                <h5 class="card-title"> M<sup>T</sup> Custom RTMP-Miko<br><span></span></h5>
                <div class="dot">
                  <div class="do"></div>
                  <p>Offline</p>
                  <i id="off" class="ri-toggle-line"></i>    
                </div>
                <hr>
                <h5 id="onn" class="card-titlee"> M<sup>T</sup> Custom RTMP-Miko<br><span></span></h5>
                <div class="dot">
                  <div class="doo"></div>
                  <h1>Online</h1>
                  <i id="off" class="ri-toggle-fill"></i>   
              </div>   
            </div>    
        </div>     
</div>----->

<!-------
<div class="back card">
    <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Channel Dashboard</a>
        </div>
            <div class="container-fluid">
              <form class="d-flex">
                <a class="navbar-brand" style="color: red;">Select Channel</a>
                <select class="form-select"  style="width: 25vh ;" aria-label="Default">
                    <option selected>Default</option>
                    <option value="1">Twitch</option>
                    <option value="2">Tele2</option>
                    <option value="3">Never TV</option>
                  </select>
              </form>
              <form class="d-flex">
                <div class="btn-group me-2" role="group" style="background-color: rgb(255, 222, 228); color: red; padding: 1px 18px; border-radius: 5px; " aria-label="First group">
                    <div class="url d-flex " style="font-size: 18px; margin-top: 10px;">
                        <i class="mr-2 ri-links-fill"></i>
                        <p>Streaming URL</p>
                      </div>
                  </div>
                  <div class="btn-group me-2" role="group" style="background-color: orangered; color: white; padding: 1px 18px; border-radius: 5px;" aria-label="First group">
                    <div class="url d-flex" style="font-size: 18px; margin-top: 10px;">
                        <i class="mr-2 ri-code-s-slash-fill"></i>
                        <p>Embed Code</p>
                      </div>
                  </div>
              </form>
            </div>
    </nav>
</div>
-->

<div class="back">
    <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Channel Dashboard</a>
        </div>
            <div class="container-fluid mt-3">
              <form class="d-flex">
                <a class="navbar-brand" style="color: red;">Select Channel</a>
                <select class="form-select ml-4 align-items-stretch p-1"  style="width: 250px;" aria-label="Default">
                    <option selected>Default</option>
                    <option value="1">Twitch</option>
                    <option value="2">Tele2</option>
                    <option value="3">Never TV</option>
                  </select>
              </form>
              <form class="d-flex p-2" style="font-weight: 500;">
                <div class="btn-group me-2" role="group" style="background-color: rgb(255, 233, 237); color: red; padding: 3px 24px; border-radius: 5px; " aria-label="First group">
                    <div class="url d-flex " style="font-size: 18px; margin-top: 6px;">
                        <i class="mr-3 ri-links-fill"></i>
                        <p>Streaming URL</p>
                      </div>
                  </div>
                  <div class="btn-group me-2" role="group" style="background-color: orangered; color: white; padding: 1px 24px; border-radius: 5px;" aria-label="First group">
                    <div class="url d-flex" style="font-size: 18px; margin-top: 6px;">
                        <i class="mr-3 ri-code-s-slash-fill"></i>
                        <p>Embed Code</p>
                      </div>
                  </div>
              </form>
            </div>
    </nav>
    <hr>
    <div class="main d-flex">
        <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;" id="dropdownMega">
            <div class="d-flex">
                <i class="mt-2 ml-1 p-2 fa ri-folder-open-line"></i>
                <h3 class="ml-5 mt-2 ">Recorded File <br><span style="opacity: .5;">0</span></h3>
            </div>
          </div>  

        <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;" id="dropdownMega">
            <div class="d-flex">
                <i class="mt-2 ml-4 fa fa ri-stackshare-line"></i>
                <h3 class="ml-5 mt-2">Transcoding<br><span style="opacity: .5;">0</span></h3>
            </div>
          </div>  
          <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;" id="dropdownMega">
            <div class="d-flex">
                <i class="mt-2 ml-4 fa fa ri-file-code-line"></i>
                <h3 class="ml-5 mt-2">Source <br><span style="opacity: .5;">0</span></h3>
            </div>
          </div>  
        <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;" id="dropdownMega">
            <div class="d-flex">
                <i class="mt-2 ml-4 fa fa ri-cloudy-2-line"></i>
                <h3 class="ml-5 mt-2">Destinations <br><span style="opacity: .5;">0</span></h3>
            </div>
          </div>        
    </div>
    <div class="vist d-flex" style="justify-content: space-between; padding: 10px;">
        <h4>Total visits <i class="ri-compass-line"></i> </h4>
        <a style="display: flex;"><p style="margin-right: 5px; opacity: .4;">Provisions Month</p><input type="date" name="" id="date"></a> 
    </div>
    <img src="assets/main.png" class="img-fluid" alt="...">
    <div class="endcard mt-2">  
        <div class="row row-cols-1 row-cols-md-2 g-4" style=  "padding: 10px;">
            <div class="row">
               
                    <div class="img card">
                      <i class="Preview d-flex ri-play-circle-line"><p>Preview</p></i>
                      <i class="center ri-play-circle-fill"></i>
                    </div>
                  
            </div>
            <div class="row">
                <div class="col" col-md-4 style="margin-left: 55px;">
                    <div class="card">
                      <div class="first">
                          <p>Check your encoder settings</p>
                          <p style="margin-top: 8px; opacity: .5; ">Keyframe Interval: 0.5</p>
                          <p style="opacity: .5;">Recommended:3</p>
                      </div>
                      <div class="card-body">
                        <div class="play d-flex mt-1" style="margin-left: 30px;">
                          <i class="fa ri-vidicon-fill" ></i>
                          <div class="ml-3" style="font-weight:600;">
                              <h6>Cloud Play</h6>
                              <p>No setup required.use your built-in webcam</p>
                          </div>
                        </div>
                       <button class="d-flex" style="background-color: orangered; color: white;"><i class="text-white  ri-vidicon-fill" ></i> <p>Enter Live Studio</p></button> 
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="col mt-3" col-md-4 >
                    <div class="card">
                      <div class="header d-flex" style="justify-content: space-between; padding: 10px; font-weight: 500;">
                          <p>Streaming Monitor</p>
                          <p class="live">LIVE</p>
                      </div>
                      <hr>
                      <div class="card-body d-flex" style="font-size: 15px;">
                         <div class="res p-2">
                             <p style="font-weight: 700;">Resolution</p>
                             <p>1920x1080</p>
                         </div>
                         <div class="num" style="margin-left: 50%;  margin-top: 5px;">
                             <p style="font-weight: 700;">FPS</p>
                             <p>50</p>
                         </div>
                      </div>
                      <hr>
                      <div class="card-body d-flex" style="font-size: 15px;">
                          <div class="res p-2">
                              <p style="font-weight: 700;">Bitrate</p>
                              <p>4520 Kb/s</p>
                          </div>
                          <div class="num" style="margin-left: 50%; padding: 10px; margin-top: 5px;">
                              <p style="font-weight: 700;">Keyframe Interval</p>
                              <p>1</p>
                          </div>
                       </div>
                    </div>
                  </div>
            </div>
           <div class="row">
            <div class="col" col-md-4 style="margin-top: 14px; margin-left: 55px;">
                <div class="card">
                    <div class="header d-flex" style="justify-content: space-between; padding: 10px; font-weight: 500;">
                        <p>Destinations</p>
                        <div class="pus live d-flex">
                            <i class=" mr-2 mt-1 fa fa-plus-circle" aria-hidden="true"></i>
                            <p>Push Destinations</p>
                        </div>
                       
                    </div>
                    <hr>
                    <div class="card-body d-flex " style="font-size: 15px; font-weight: 600;  opacity: .5;">
                       <div class="res p-2">
                           <p> M<sup>T</sup> Custom RYMP - MIKo</p>
                           <div class="dott d-flex">
                            <i class=" fa fa-circle" aria-hidden="true"></i>
                            <p>Offline</p>
                           </div>
                       </div>
                       <div class="num" style="margin-left: 50%; padding: 10px; margin-top: 5px;">
                        <div class="form-check mt-1 form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                          </div>
                       </div>
                    </div>
                    <hr>
                    <div class="card-bodyy d-flex" style="font-size: 15px;  font-weight: 600;">
                        <div class="res p-2">
                            <p> M<sup>T</sup> Custom RYMP - Streaming</p>
                            <div class="dott d-flex">
                             <i class=" fa fa-circle" aria-hidden="true"></i>
                             <p>Online</p>
                            </div>
                        </div>
                        <div class="num" style="margin-left: 50%; padding: 10px; margin-top: 5px;">
                         <div class="form-check mt-1 form-switch">
                             <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                           </div>
                        </div>
                     </div>
                  </div>
            </div>
           </div>
          </div>    
    </div>
</div>

