<div class="back">
    <nav class="navbar navbar-light">
        <a class="navbar-brand">Dashboard</a>
    </nav>
 <!-----   <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>--->
    <div class="maincard">
        <li class=" first list-group-item d-flex justify-content-between" style="width : 18rem;">
            <div>
                <h6 class="my-1">128</h6>
                <small class="text">Invoices</small>
            </div>
            <span class="text"><i class="fa fa-credit-card"></i></span>
        </li>
        <li class="list-group-item d-flex justify-content-between ">
            <div>
                <h6 class="my-1">$0.00</h6>
                <small class="text">Credit Balance</small>
            </div>
            <span class="text"><i class="fa ri-wallet-line"></i></span>
        </li>
        <li class="list-group-item d-flex justify-content-between ">
            <div>
                <h6 class="my-1">10GB</h6>
                <small class="text">Data</small>
            </div>
            <span class="text"><i class="fa ri-swap-line"></i></span>
        </li>
        <li class="list-group-item d-flex justify-content-between ">
            <div>
                <h6 class="my-1">4</h6>
                <small class="text">Notification</small>
            </div>
            <span class="text"><i class="fa fa-bell-o"></i></span>
        </li>
    </div>
    <div class="center">
        <div class="col-md-6 band">
            <img src="assets/dashbord (2).png" alt="">
        </div>
        <div class="col-md-6 calendar">
            <input type="date">
            <!-- <igx-calendar selection="range"></igx-calendar> -->
            <!-- <ejs-calendar id=calendar [value]='value' [min]='minDate' [max]='maxDate'></ejs-calendar> -->

        </div>
    </div>
    <!-- <div>
        <app-dashchannel-list></app-dashchannel-list>
    </div>
    <div>
        <app-invoices-due></app-invoices-due>
    </div> -->

</div>