<div class="back">
    <section>
        <div class="">
            <div class="row">
    
                <div>
                    <h5 class="card-title sidebar mb-4 mt-3">Password</h5>
                </div>
    
    
                <form [formGroup]="passwordForm">
                    <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" formControlName="cupwd" class="form-control" placeholder="*******" [ngClass]="{ 'is-invalid': submitted && f.cupwd.errors }" />
                        <div *ngIf="submitted && f.upwd.errors" class="form-text text-danger">
                            <div *ngIf="f.upwd.errors.required">Password is required!</div>
                            <div *ngIf="f.upwd.errors?.minlength">Password must be at least 6 character is required!</div>
                            <div *ngIf="f.upwd.errors?.maxlength">Password must be max 20 character is required!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>New Password</label><br>
                        <input type="password" formControlName="cupwd" class="form-control" placeholder="********" [ngClass]="{ 'is-invalid': submitted && f.cupwd.errors }" />
                        <div *ngIf="submitted && f.upwd.errors" class="form-text text-danger">
                            <div *ngIf="f.upwd.errors.required">Password is required!</div>
                            <div *ngIf="f.upwd.errors?.minlength">Password must be at least 6 character is required!</div>
                            <div *ngIf="f.upwd.errors?.maxlength">Password must be max 20 character is required!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="********" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f?.streamName?.errors" class="form-text text-danger">
                            <div *ngIf="f.streamName.errors?.required">Stream Name is required!</div>
                            <div *ngIf="f.streamName.errors?.minlength">Stream Name must be at least 6 character is required!</div>
                            <div *ngIf="f.streamName.errors?.maxlength">Stream Name must be max 20 character is required!</div>
                        </div>
                    </div>
                </form>
    
            </div>
        </div>
    
    </section>
</div>