<app-topbar [header]="header"></app-topbar>
<!-- <section>
    <div class="row">
        <div class="card">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title mb-4 mt-3">Push Destinations</h5>
                        </div>
                        <div class="col-md-2">
                            <button routerLink="/manage-channel/destination" class=" mr-4 buton">
                                       <i class="fas fa-plus">  Push Destination</i> 
                                    </button>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 mt-2 select-channel">Select Channel</label>
                        <div class="col-md-4 mb-2">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Default</option>
                                <option value="1">Twitch</option>
                                <option value="2">Tele2</option>
                                <option value="3">Never TV</option>
                                <option value="3">Vaughn Live</option>
                              </select>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <select class="form-select" aria-label="Default select example">
                                    <option selected>Bulk Operations</option>
                                    <option value="1">Turn Off All</option>
                                    <option value="2">Turn On All</option>
                                    <option value="3">Remove All</option>
                                  </select>
                        </div>

                    </div>
                </li>
            </ul>

        </div>
    </div>
</section> -->