<div class="container-fluid">
    <a class="navbar-brand">Help Center</a>
</div>
<div class="text-center">
    <h5 class="card-title">How can we help you?</h5>
    <div class="input-group">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Write a question or problem">
    </div>
</div>
<div class="card">
    <div class="d-flex text-muted pt-2">
        <i class="Center ri-question-line"></i>
        <p class="pb-3 mb-0 small  ">
            <strong class=" side d-block text-dark">Frequently Asked Questions</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam consequatur nobis aliquam, obcaecati atque vel libero similique, consequuntur quasi ut eos corporis
            ab quae enim ratione voluptatem. Quisquam doloribus .
        </p>
    </div>
    <hr>
    <div class="d-flex text-muted pt-4">
        <i class="Center ri-bank-card-line"></i>
        <p class="pb-3 mb-0 small lh-sm ">
            <strong class=" side d-block text-dark">Billing And Payments</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam consequatur nobis aliquam, obcaecati atque vel libero similique, consequuntur quasi ut eos corporis ab
            quae enim ratione voluptatem. Quisquam doloribus .
        </p>
    </div>
    <hr>
    <div class="d-flex text-muted pt-4">
        <i class="Center ri-questionnaire-line"></i>
        <p class="pb-3 mb-0 small lh-sm ">
            <strong class=" side d-block text-dark">IdStream Chat</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam consequatur nobis aliquam, obcaecati atque vel libero similique, consequuntur quasi ut eos corporis ab quae enim
            ratione voluptatem. Quisquam doloribus .
        </p>
    </div>
    <hr>
    <div class="d-flex text-muted pt-4">
        <i class="Center ri-pencil-ruler-line"></i>
        <p class="pb-3 mb-0 small lh-sm">
            <strong class=" side d-block text-dark">IdStream Tools & Features</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam consequatur nobis aliquam, obcaecati atque vel libero similique, consequuntur quasi ut eos corporis
            ab quae enim ratione voluptatem. Quisquam doloribus .
        </p>
    </div>
</div>