<div class="back">
  <nav class="navbar navbar-light bg-white p-3">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">Billing Dashboard</a>
    </div>
  </nav>
  <hr>
  <div class="main d-flex mt-3">
    <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;"
      id="dropdownMega">
      <div class="d-flex">
        <h3 class="ml-5 mt-2 ">Total Earning <br><span style="opacity: .5;">12</span></h3>
        <i class="mt-2 ml-5 p-2 fa ri-hand-coin-line"></i>
      </div>
    </div>

    <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;"
      id="dropdownMega">
      <div class="d-flex">
        <h3 class="ml-5 mt-2">Total Refund<br><span style="opacity: .5;">0</span></h3>
        <i class="mt-2 ml-5 fa ri-refund-2-line"></i>
      </div>
    </div>
    <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;"
      id="dropdownMega">
      <div class="d-flex ">
        <h3 class="ml-5 mt-2">Total Active <br><span style="opacity: .5;">35</span></h3>
        <i class="mt-2 ml-5 fa ri-todo-line"></i>
      </div>
    </div>
    <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;"
      id="dropdownMega">
      <div class="d-flex">
        <h3 class="ml-5 mt-2">Subscrition <br><span style="opacity: .5;">06</span></h3>
        <i class="mt-2 ml-5 fa fa-hand-pointer-o"></i>
      </div>
    </div>
  </div>
  <div class="img mt-5">
    <img src="assets/main.png" class="img-fluid" alt="...">
  </div>

  <div class="end mt-5 font-size-5">
    <div class="row">
      <div class="col-sm-8 p-3">
        <div class="card">

          <head class="d-flex p-3 justify-content-between">
            <p>Previous Transaction</p>
            <button class="d-flex p-2 bg-white" style="border-radius: 5px; font-weight: 500;">
              <i class="ml-2 ri-sound-module-line"></i>
              <p class="ml-2"> View </p>
            </button>
          </head>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row p-2">#3821</th>
                <td>23, Jan 2021</td>
                <td><button class="bg-white text-success"
                    style="padding: 4px 20px; border-radius: 18px; border: 1px solid green; ">Success</button></td>
                <td>$ 15,00</td>
              </tr>
              <tr>
                <th scope="row">#3821</th>
                <td>14, Jan 2021</td>
                <td> <button class="bg-white text-warning"
                    style="padding: 4px 20px; border-radius: 18px; border: 1px solid rgba(255, 185, 55, 0.883);">Pending</button>
                </td>
                <td>$ 24,00</td>
              </tr>
              <tr>
                <th scope="row">#3821</th>
                <td>06, Jan 2021</td>
                <td><button class="bg-white text-danger"
                    style="padding: 4px 33px; border-radius: 18px; border: 1px solid red;">Faild</button></td>
                <td>$19,00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-4 p-3">
        <div class="card">
          <div class="card-body p-2">
            <p>Transfer History</p>
            <div class="col-md p-2 order-md-last">

              <ul class="list-group ">
                <li class="list-group-item d-flex justify-content-between lh-sm mt-2 p-2"
                  style="border: 1px solid black;">
                  <div>
                    <h6 class="my-0">Payment from upwork</h6>
                    <small class="text-muted">22 Jun 2018</small>
                  </div>
                  <span class="text-success mt-2">+ $100.00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm mt-2 p-2"
                  style="border: 1px solid black;">
                  <div>
                    <h6 class="my-0">Withdrawal Notification</h6>
                    <small class="text-muted">29 Jun 2018</small>
                  </div>
                  <span class="text-danger mt-2">- $150.00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between  mt-2 p-2" style="border: 1px solid black;">
                  <div>
                    <h6 class="my-0">Immediate Load Fee</h6>
                    <small class="text-muted">04 Jun 2018</small>
                  </div>
                  <span class="text-success mt-2">- $100.00</span>
                </li>
                <li class="list-group-item d-flex justify-content-between  mt-2 p-2" style="border: 1px solid black;">
                  <div>
                    <h6 class="my-0">Withdrawal Notification</h6>
                    <small class="text-muted">29 Jun 2018</small>
                  </div>
                  <span class="text-danger mt-2">-$08.51</span>
                </li>


              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>