<div class="main">
    <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand ">Recordings</a>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="list-group-item list-group-item-action"><i class="fas fa-video"></i>New Video
              <span class="float-down"><i class="fas fa-angle-down"></i></span> </a>
            </div>
        </div>

    </nav>
    <div class="center">
        <p>Create awesome videos yourself by using your webcam, screen capture and more......</p>
    </div>
    <div class="maincard">
        <div class="card-group">
            <div class="card">
                <a routerLink="#"><i  class="fas fa-record-vinyl"></i></a> Screen record
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="card">
                <a routerLink="#"><i class="fas fa-camera"></i></a> webcam
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="card">
                <a routerLink="#"><i class="fas fa-microphone"></i></a> Screen record
                <i class="fa fa-check-circle"></i>
            </div>
        </div>
        <button type="button"> <i class="fas fa-compact-disc"></i>Record</button>
    </div>