.buton {
    width: 130px;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #d33317;
    margin-bottom: 15px;
}
.main img {
    margin-top: 12%;
    margin-left: 36%;
    width: 23%;
}
p{
    font-weight: 500;
    color: orangered;
    font-size: 18px;
}
.text {
    position: relative;
    left: 43%;
    top: 2vh;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    opacity: .4;
    width: 90vh;
}

@media only screen and (max-width: 750px) {
    .main {
        margin-left: -30%
    }
    .text {
        width: 30vh;
        margin-top: 60%;
        margin-left: 40%;
    }
}

.card {
    position: absolute;
    margin-top: 10vh;
    height: 80vh;
}

.navbar-brand {
    font-weight: 700;
}

.btn-group {
    width: 40%;
    display: flex;
    color: black;
}

.cros {
    margin-left: 120%;
    font-size: 25px;
    opacity: .4;
}

.button .fa {
    padding: 0px 10px;
    margin-right: 10px;
}

.btn-group :hover {
    color: orangered;
}

.first img {
    width: 150px;
    height: 120px;
    border-radius: 5px;
}

.play {
    display: flex;
    position: relative;
    color: aliceblue;
    padding: 8px;
    width: 150px;
    height: 5%;
    margin-top: -31px;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.705);
}

input {
    width: 75%;
    height: 5px;
    margin: 6px;
    background-color: red;
}

.size {
    width: 95px;
    border-radius: 8px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.411);
}

.active {
    color: red;
}

.fil {
    height: 100%;
    width: 50%;
    background-color: green;
    border-radius: 20px;
}

.option {
    display: block;
    width: 60%;
    padding: 0px 4px;
    margin-left: 43%;
    height: 13vh;
    align-items: center;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(94, 94, 94);
}

.option .fa {
    margin-left: 5px;
}

.option .fa:hover {
    color: orangered;
    cursor: pointer;
}

hr {
    margin-top: 3px;
}