
    <div class="card mb-3 ml-5">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">Add Your Currency</h4>
              <h5>No. of associated Currency account are shown here</h5>
              <div class="form-check mt-4" style="font-size: 15px; opacity: .7;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis autem et debitis consectetur veritatis, sequi natus quisquam consequatur dolor consequuntur iste magni, eum, tempore in.
                </label>
              </div>
              <div class="form-check mt-3" style="font-size: 15px; opacity: .7;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit quidem eaque nulla? Perferendis, voluptatem velit, obcaecati quis molestias fugit iusto quam, maxime laborum voluptatibus autem?
                </label>
              </div>
              <div class="form-check mt-2" style="font-size: 15px; opacity: .7;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit quidem eaque nulla? Perferendis, voluptatem velit, obcaecati quis molestias fugit iusto quam, maxime laborum voluptatibus autem?
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/emailn.png" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
        
      </div>
   

