<div class="back">
    <nav class="navbar navbar-light bg-white p-3">
      <div class="container-fluid">
        <a class="navbar-brand " href="#">Manager Server</a>
      </div>
    </nav>
    <hr>
    <div class="main d-flex mt-3">
      <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;"
        id="dropdownMega">
        <div class="d-flex justify-content-between">
          <h5><img src="assets/onlinestr.jpg" alt="" style="width: 40px;" height="38px;"> <p class="mt-3">Online Stream</p> </h5>
          <img src="assets/onlineS.png" alt="" class="on">   
        </div>
      </div>
      <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;"
        id="dropdownMega">
        <div class="d-flex justify-content-between">
          <h5><img src="assets/offlinestr.jpg" alt="" style="width: 40px;" height="38px;"> <p class="mt-3">Offline Stream</p> </h5>
          <img src="assets/offlineS.png" alt="" class="on">   
        </div>
      </div>
      <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;"
        id="dropdownMega">
        <div class="d-flex justify-content-between">
          <h5><img src="assets/cpu.jpg" alt="" style="width: 40px;" height="38px;"> <p class="mt-3">Server CPU</p> </h5>
          <img src="assets/server.png" alt="" class="on">   
        </div>
      </div>
      <div class="d-flex align-items-stretch  rounded-3 shadow-lg p-2 bg-white" style="width: 500px; margin: 10px;"
        id="dropdownMega">
        <div class="d-flex justify-content-between">
          <h5><img src="assets/ram1.jpg" alt="" style="width: 40px;" height="38px;"> <p class="mt-3">Server CPU</p> </h5>
          <img src="assets/rams.png" alt="" class="on">   
        </div>
      </div>
    </div>
    <div class="img mt-5">
      <div class="mb-4 mt-2 ml-3 d-flex justify-content-between">
        <p >Server Status Overview</p> 
        <div class="center d-flex justify-content-center">
          <div class="orange mt-1 mr-3"></div>
          <p >Server CPU</p>
          <div class="blue mt-1 ml-5"></div>
          <p class="ml-2" >Server CPU</p>
        </div>
      </div>
      <img src="assets/main.png" class="img-fluid" alt="...">
    </div>
        <div class="file card mt-4 ">
          <table class="table table-striped ">
            <thead>
             <tr>
              <th scope="col"><i class="chek fa fa-square-o" aria-hidden="true"></i></th>
              <th>ID</th>
              <th scope="col">Host Name</th>
              <th scope="col">Domain</th>
              <th scope="col">IP Address</th>
              <th scope="col">Server Status</th>
              <th scope="col">Action</th> 
            </tr>
           
            <tbody>
              <tr>
                <th scope="row"><i class="chek fa fa-square-o" aria-hidden="true"></i></th>
                <td>a256140</td>
                <td>Demo Server</td>
                <td>liveidstream.com</td>
                <td>45. 12.53.155</td>
                <td> <button>Online</button> </td>
                <td>
                  <i class="add fa fa-pencil-square-o" aria-hidden="true"></i>
                  <i class="add ml-3 fa fa-trash-o" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <th scope="row"><i class="chek fa fa-square-o" aria-hidden="true"></i></th>
                <td>a256140</td>
                <td>Demo Server</td>
                <td>liveidstream.com</td>
                <td>45. 12.53.155</td>
                <td> <button class="off text-danger boder-danger">offline</button> </td>
                <td>
                  <i class="add fa fa-pencil-square-o" aria-hidden="true"></i>
                  <i class="add ml-3 fa fa-trash-o" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <th scope="row"><i class="chek fa fa-square-o" aria-hidden="true"></i></th>
                <td>a256140</td>
                <td>Demo Server</td>
                <td>liveidstream.com</td>
                <td>45. 12.53.155</td>
                <td> <button class="pro">Problem</button> </td>
                <td>
                  <i class="add fa fa-pencil-square-o" aria-hidden="true"></i>
                  <i class="add ml-3 fa fa-trash-o" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <th scope="row"><i class="chek fa fa-square-o" aria-hidden="true"></i></th>
                <td>a256140</td>
                <td>Demo Server</td>
                <td>liveidstream.com</td>
                <td>45. 12.53.155</td>
                <td> <button class="Not">Not Responding</button> </td>
                <td>
                  <i class="add fa fa-pencil-square-o" aria-hidden="true"></i>
                  <i class="add ml-3 fa fa-trash-o" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <th scope="row"><i class="chek fa fa-square-o" aria-hidden="true"></i></th>
                <td>a256140</td>
                <td>Demo Server</td>
                <td>liveidstream.com</td>
                <td>45. 12.53.155</td>
                <td> <button>Online</button> </td>
                <td>
                  <i class="add fa fa-pencil-square-o" aria-hidden="true"></i>
                  <i class="add ml-3 fa fa-trash-o" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        </div>