<div class="back">
    <section>
        <div class="">
            <div class="row">
                <div>
                    <h5 class="card-title mb-4 mt-3">Video Report</h5>
                </div>
    
                <table>
                    <thead>
                        <tr>
                            <th>Videos</th>
                            <th>Impressions</th>
                            <th>Views</th>
                            <th>Downloads</th>
                            <th>Avg. % Watched</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let video of Regions"> -->
                        <!-- <td>{{}}</td>
                        <td>{{}}</td>
                        <td>{{}}</td>
                        <td>{{}}</td>
                        <td>{{}}</td> -->
                        <!-- </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>