  
  <div class="card mb-3 ml-5">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="mt-5 text-center">
            <div class="card-body">
              <h3 class="card-title">No Email Recipients Found</h3>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur.
                <br> adipiscing olit.
              </p>  
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <img src="assets/billing.png" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
    
  </div>


