<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">Forgot Password</h5>
                <form [formGroup]="forgotPass">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" formControlName="email" class="form-control" placeholder="Enter Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="form-text text-danger">
                            <div *ngIf="f.email.errors?.required">Email Addres is required!</div>
                            <div *ngIf="f.email.errors?.minlength">Username must be at least 6 character is required!</div>
                            <div *ngIf="f.email.errors?.maxlength">Username must be max 20 character is required!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button (click)="onSubmit()" style="background-color: rgba(192, 66, 20, 0.993);color: white;text-align:center;margin-top:15 px" class="bttn">Submit</button>
                    </div>
                    <div class="psw"><a routerLink="/login">Go back to Login?</a></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="iimage">
            <div class="center-align">
                <img src="./../assets/log.jfif">
            </div>
        </div>
    </div>
</div>