<!-- <div class="container-fluid">
    <a class="navbar-brand">Chat</a>
</div>
<div class="text-center">
    <div class="header">
        <img src="assets/message.png" alt="">
        <p class="card-text">Let's get the conversation started.</p>
        <button routerLink="/chat-app/chat">Open In Browser</button>
    </div>
   
    <div class="input-group">
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        <span class="input-group-text bg-white"><i class="fa fa-paper-plane"></i></span>
    </div>
</div> -->

<div class="container-fluid">
    <a class="navbar-brand">Chat</a>
</div>
<div class="text-center">
    <div class="header">
        <img src="assets/chat1.png" alt="">
        <p class="card-text">Let's get the conversation started.</p>
        <button routerLink="/chat-app/chat">Open In Browser</button>
    </div>
    <div class="input-group">
        <input type="text" class="form-control form-control-lg" placeholder="Type a new message......">
        <i class="ri-send-plane-2-line"></i>
    </div>