<app-topbar [header]="header"></app-topbar>
<div class="back">
    <div class="maincard ">
        <li class="first list-group-item d-flex justify-content-between">
            <span >
                <img src="assets/user.png" class="server">                  
            </span>
            <div>
                <small class="text">Total User</small>
                <h6 class="my-1">0</h6>
               
            </div>      
        </li>
        <li class="list-group-item d-flex justify-content-between ">
            <span>
                <img src="assets/earning.png" class="server">
            </span>
            <div>              
                <small class="text">Total Earning</small>
                <h6 class="my-1">0</h6>
            </div>         
        </li>
        <li class="list-group-item d-flex justify-content-between ">
            <span class="text">
                <img src="assets/channel.png" class="server">       
            </span>
            <div>
                <small class="text">Total Channel</small>
                <h6 class="my-1">0</h6>
            </div>       
        </li>
        <li class="list-group-item d-flex justify-content-between ">
            <span class="text">
                <img src="assets/channel.png" class="server">       
            </span>
            <div>
                <small class="text">Notification</small>
                <h6 class="my-1">4</h6>
            </div>
        </li>
    </div>
    <div class="row">
        <div class="col-sm-6 p-1">
          <div class="card">
            <div class="nav d-flex justify-content-between p-2">
                <h3>No. of customer</h3>
                <button class="navb p-2">
                    <i class=" fa fa-calendar" aria-hidden="true">
                        Yesterday
                    </i>
                </button>

            </div>
            <img src="assets/main.png" class="mt-5 img-fluid" alt="...">
          </div>
        </div>
        <div class="col-sm-5 p-1">
          <div class="scroll card">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
              
        </div>
        
      
      
      </div>
      <div class="card mt-5">
        <img src="assets/main.png" class="mt-5 img-fluid" alt="...">
      </div>
</div> 
 
